body {
  font-family: Century Gothic; }

h1 {
  animation-name: color-shift;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  color: #FF00E9;
  font-weight: 100;
  text-align: center; }

@keyframes color-shift {
  0% {
    color: #BD0FE1; }
  20% {
    color: #9012FE; }
  40% {
    color: #127AFE; }
  60% {
    color: #00C1FF; }
  80% {
    color: #50E3C2; }
  100% {
    color: #BD0FE1; } }
